*{
    margin: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
  }
  body{
    background-color: #fff;
  }
  header{
    height: 12vh;
    width: 100%;
    background-color: black;
    position: fixed;
    display: flex;
    align-items: center;
  }
  nav{
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
  }
  header .logo{
    display: flex;
    padding: 0 5%;
    align-items: center;
    width: 15%;
  }
  header .logo img{
    width: 50px;
    border-radius: 50%;
  }
  .navOptions{
    width: 45%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5%;
  }
  .navOptions a{
    text-decoration: none;
    color: #fff;
  }
  .navOptions a:hover::after{
    content: "";
    display: block;
    width: 25px;
    height: 3px;
    border-radius: 10px;
    background-color: #fff;
    margin: auto;
  }
  header .socials{
    width: 25%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
  }
  header .socials a{
    padding: 1.5%;
    font-size: 20px;
    border-radius: 10px;
    /* background-color: transparent; */
    cursor: pointer;
    border: 2px solid #fff;
    box-shadow: 1px 1px 5px 0 #fff;
    color: #fff;
  }
  .socials a{
    text-decoration: none;
  }
  .socials a:hover{
    transform: scale(1.1);
  }
  .socials.first i{
    text-decoration: none;
  }
  /* .socials i:hover{
    transform: scale(1.1);
  } */
  main{
    padding-top: 12vh;
    /* background-color: rgba( 255, 255, 255, 0.8); */
    width: 100%;
  }
  .about, .skills, .projects{
    margin-bottom: 10vh;
  }
  .about{
    height: 88vh;
    display: flex;
    justify-content: center;
    gap: 2%;
    color: #fff;
    background-color: black;
  }
  .bioContainer, .imgContainer{
    /* background-color: rgba( 10, 10, 10, 0.2); */
    width: 49%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
  }
  .bio{
    width: 85%;
  }
  .bio h1{
    font-size: 50px;
    margin-bottom: 20px;
  }
  .bio h1 span{
    color: blue;
  }
  .bio h2{
    font-size: 30px;
    font-weight: 100;
    margin-bottom: 30px;
  }
  .bio p{
    font-size: 20px;
    margin-bottom: 20px;
  }
  .bio .btn{
    height: 9vh;
    display: flex;
    gap: 2%;
  }
  .bio .btn a{
    text-decoration: none;
    /* background-color: blue; */
    width: 30%;
    border-radius: 10px;
  }
  .bio .btn .first{
    background-color: blue;
  }
  .bio .btn .second{
    border: 2px solid blue;
    box-shadow: 0 1px 6px 3px blue;
  }
  .bio  button{
    outline: none;
    border: none;
    height: 100%;
    width: 100%;
    background-color: transparent;
    color: #fff;
    cursor: pointer;
    font-size: 18px;
  }
  
  .imgContainer img{
    aspect-ratio: 5/7;
    width: 65%;
    border-radius: 20px;
    height: 100%;
  }
  .skills, .projects, .contact{
    
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 8vh 2vh;
    gap: 5vh;
  }
  .projects{
    background-color: black;
    color: #fff;
  }
  /* .skills, .contact{
    background-color: rgba( 10, 10, 10, 0.2);
  } */
  .skills h1, .projects h1, .contact h1{
    font-size: 35px;
  }
  .skillCatories{
    width: 100%;
    display: flex;
    justify-content: space-around;
  }
  .design{
    background-color: rgba( 10, 10, 10, 0.9);
    width: 25%;
    border-radius: 15px;
    padding: 1.5%;
    display: flex;
    flex-direction: column;
    gap: 2vh;
    
  }
  .design:hover{
    border: 1px solid rgba( 255, 255, 255, 0.3);
    box-shadow: 4px 3px 9px 2px black;
  }
  .design .icon{
    font-size: 25px;
    display: flex;
  }
  .design .icon i{
    background-color: #fff;
    padding: 1.5vh;
    border-radius: 50%;
  }
  .design i{
    color: blue;
  }
  .design h3{
    width: 100%;
    padding: 0 5vh;
    color: #fff;
  }
  .design li{
    list-style-type: none;
    margin: 2vh 0;
    font-size: 20px;
    color: #fff;
  }
  .projectOpt{
    width: 100%;
    display: flex;
    justify-content: space-around;
  }
  .projectOpt .opt{
    width: 30%;
    height: 45vh;
    border-radius: 15px;
  }
  .projectOpt .opt.one{
    background: url(https://public.readdy.ai/ai/img_res/bea3098cb5a6887d281b6a1aa2273f1a.jpg);
    background-size: 100%;
    background-repeat: no-repeat;
  }
  .projectOpt .opt.two{
    background: url(https://public.readdy.ai/ai/img_res/efe033c4acc32cab5c124c225f042aed.jpg);
    background-size: 100%;
    background-repeat: no-repeat;
  }
  .projectOpt .opt.three{
    background: url(https://public.readdy.ai/ai/img_res/01346b089b4f13e45993b5297128f065.jpg);
    background-size: 100%;
    background-repeat: no-repeat;
  }
  .projectOpt .opt .content{
    background: linear-gradient(to bottom, transparent, rgba( 10, 10, 10, 0.8));
    height: 100%;
    border-radius: 15px;
    color: #fff;
    flex-direction: column;
    justify-content: end;
    padding: 5vh;
    gap: 2vh;
    display: none;
  }
  .projectOpt .opt:hover{
    transform: scale(1.1);
  }
  .projectOpt .opt:hover .content{
    display: flex;
  }
  .projectOpt .opt .content p{
    font-size: 18px;
  }
  .projects .view{
    width: 100%;
    height: 10vh;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .projects .view a{
    text-decoration: none;
    background-color: blue;
    height: 80%;
    width: 20%;
    cursor: pointer;
    border-radius: 10px;
  }
  .projects .view button{
    outline: none;
    border: none;
    height: 100%;
    width: 100%;
    font-size: 18px;
    font-weight: 500;
    cursor: pointer;
    background-color: transparent;
    color: #fff;
    
  }
  .contactOpt{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10vh;
  }
  .contactOpt .opt{
    background-color: rgba( 10, 10, 10, 0.8);
    width: 20%;
    height: 30vh;
    border-radius: 15px;
    padding: 1.5%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1.7vh;
  }
  .contactOpt i{
    background-color: #fff;
    font-size: 35px;
    padding: 3vh;
    border-radius: 50%;
  }
  .contactOpt .text{
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 20px;
    gap: 2vh;
    color: #fff;
  }
  .contact form{
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 3vh;
    font-size: 20px;
  }
  .contact form .first{
    display: flex;
    width: 85%;
    justify-content: space-between;
  }
  .field{
    display: flex;
    width: 47%;
    align-items: center;
    gap: 1vh;
  }
  .field input{
    outline: none;
    border: none;
    height: 5vh;
    width: 100%;
    padding: 1.5vh 1vh 0.5vh 1vh;
    border-radius: 5px;
    background-color: rgba( 10, 10, 10, 0.2);
    /* color: #fff; */
  }
  .contact form .second{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 70%;
    gap: 1vh;
  }
  .contact form .second input, .contact form .second textarea{
    width: 100%;
    padding: 1vh;
    outline: none;
    border: none;
    border-radius: 5px;
    background-color: rgba( 10, 10, 10, 0.2);
    /* color: #fff; */
  }
  .contact form button{
    outline: none;
    border: none;
    width: 35%;
    height: 8vh;
    font-size: 18px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    background-color: blue;
    color: #fff;
  }
  .contact form button:hover, .projects .view button:hover, .bio button:hover{
    font-size: 20px;
  }
  footer{
    background-color: black;
    display: flex;
    flex-direction: column;
    padding: 8vh;
    align-items: center;
    font-size: 18px;
    gap: 2vh;
    color: #fff;
  }
  footer .info.one{
    width: 100%;
    padding: 1vh;
    display: flex;
    justify-content: space-between;
  }
  footer .info.one .opt{
    width: 30%;
    padding: 2vh;
  }
  footer .info.one .opt ul{
    list-style-type: none;
    margin: 2vh 0;
    display: flex;
    flex-direction: column;
    gap: 2vh;
    color: rgba( 255, 255, 255, 0.5);
  }
  footer .info.one .opt a, footer .info.one .opt p{
    text-decoration: none;
    color: rgba( 255, 255, 255, 0.5);
  }
  footer .logo{
    display: flex;
    padding: 0 5%;
    justify-content: center;
    align-items: center;
    width: 20%;
  }
  footer .logo img{
    width: 50px;
    border-radius: 50%;
  }
  .socials.last{
    width: 60%;
    margin: 3vh 0;
  }
  .socials.last i{
    background-color: rgba( 255, 255, 255, 0.8);
    color: black;
    padding: 1.5%;
    font-size: 20px;
    border-radius: 10px;
    cursor: pointer;
    text-decoration: none;
  }
  footer hr{
    width: 90%;
  }
  
  
  @media only screen and (max-width: 768px){
    *{
        margin: 0;
        box-sizing: border-box;
        scroll-behavior: smooth;
    }
    body{
        background-color: #fff;
    }
    header{
        height: 12vh;
        width: 100%;
        background-color: black;
        /* background-color: red; */
        position: fixed;
        display: flex;
        align-items: center;
    }
    nav{
        display: flex;
        width: 100%;
        justify-content: space-between;
        align-items: center;
    }
    header .logo{
        display: flex;
        padding: 0 5%;
        align-items: center;
        width: 30%;
        /* background-color: #fff; */
    }
    header .logo img{
        width: 50px;
        border-radius: 50%;
    }
    .navOptions{
        width: 45%;
        /* display: flex; */
        justify-content: center;
        align-items: center;
        gap: 5%;
        display: none;
    }
    .navOptions a{
        text-decoration: none;
        color: #fff;
    }
    .navOptions a:hover::after{
        content: "";
        display: block;
        width: 25px;
        height: 3px;
        border-radius: 10px;
        background-color: #fff;
        margin: auto;
    }
    header .socials{
        width: 60%;
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        /* background-color: rebeccapurple; */
    }
    header .socials a{
        padding: 3%;
        font-size: 20px;
        border-radius: 10px;
        /* background-color: transparent; */
        cursor: pointer;
        border: 2px solid #fff;
        box-shadow: 1px 1px 5px 0 #fff;
        color: #fff;
    }
    .socials a{
        text-decoration: none;
    }
    .socials a:hover{
        transform: scale(1.1);
    }
    .socials.first i{
        text-decoration: none;
    }
    /* .socials i:hover{
        transform: scale(1.1);
    } */
    main{
        padding-top: 12vh;
        /* background-color: rgba( 255, 255, 255, 0.8); */
        width: 100%;
    }
    .about, .skills, .projects{
        margin-bottom: 5vh;
    }
    .about{
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        gap: 7vh;
        color: #fff;
        background-color: black;
        padding: 2vh 0;
        /* background-color: rebeccapurple; */
    }
    .bioContainer, .imgContainer{
        background-color: rgba( 10, 10, 10, 0.2);
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 10px;
    }
    .bio{
        width: 85%;
    }
    .bio h1{
        font-size: 30px;
        margin-bottom: 20px;
    }
    .bio h1 span{
        color: blue;
    }
    .bio h2{
        font-size: 20px;
        font-weight: 100;
        margin-bottom: 30px;
    }
    .bio p{
        font-size: 17px;
        margin-bottom: 20px;
    }
    .bio .btn{
        height: 9vh;
        display: flex;
        gap: 2%;
        justify-content: center;
    }
    .bio .btn a{
        text-decoration: none;
        /* background-color: blue; */
        width: 40%;
        border-radius: 10px;
    }
    .bio .btn .first{
        background-color: blue;
    }
    .bio .btn .second{
        border: 2px solid blue;
        box-shadow: 0 1px 6px 3px blue;
    }
    .bio  button{
        outline: none;
        border: none;
        height: 100%;
        width: 100%;
        background-color: transparent;
        color: #fff;
        cursor: pointer;
        font-size: 15px;
    }
    
    .imgContainer img{
        aspect-ratio: 5/7;
        width: 65%;
        border-radius: 20px;
        height: 100%;
    }
    .skills, .projects, .contact{
        
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 8vh 2vh;
        gap: 5vh;
    }
    
    /* .skills, .contact{
        background-color: rgba( 10, 10, 10, 0.2);
    } */
    .skills h1, .projects h1, .contact h1{
        font-size: 28px;
    }
    .skillCatories{
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 3vh;
        /* justify-content: space-around; */
    }
    .design{
        background-color: rgba( 10, 10, 10, 0.9);
        width: 85%;
        border-radius: 15px;
        padding: 1.5%;
        display: flex;
        flex-direction: column;
        gap: 2vh;
        
    }
    .design:hover{
        border: 1px solid rgba( 255, 255, 255, 0.3);
        box-shadow: 4px 3px 9px 2px black;
    }
    .design .icon{
        font-size: 25px;
        display: flex;
    }
    .design .icon i{
        background-color: rgba( 255, 255, 255, 0.5);
        padding: 1.5vh;
        border-radius: 50%;
    }
    .design i{
        color: blue;
    }
    .design h3{
        width: 100%;
        padding: 0 5vh;
        color: #fff;
    }
    .design li{
        list-style-type: none;
        margin: 2vh 0;
        font-size: 18px;
        color: #fff;
    }
    .projects{
        background-color: black;
        color: #fff;
    }
    .projectOpt{
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 6vh;
        /* justify-content: space-around; */
    }
    .projectOpt .opt{
        width: 75%;
        height: 45vh;
        border-radius: 15px;
    }
    .projectOpt .opt.one{
        background: url(https://public.readdy.ai/ai/img_res/bea3098cb5a6887d281b6a1aa2273f1a.jpg);
        background-size: 100%;
        background-repeat: no-repeat;
    }
    .projectOpt .opt.two{
        background: url(https://public.readdy.ai/ai/img_res/efe033c4acc32cab5c124c225f042aed.jpg);
        background-size: 100%;
        background-repeat: no-repeat;
    }
    .projectOpt .opt.three{
        background: url(https://public.readdy.ai/ai/img_res/01346b089b4f13e45993b5297128f065.jpg);
        background-size: 100%;
        background-repeat: no-repeat;
    }
    .projectOpt .opt .content{
        background: linear-gradient(to bottom, transparent, rgba( 10, 10, 10, 0.8));
        height: 100%;
        border-radius: 15px;
        color: #fff;
        flex-direction: column;
        justify-content: end;
        padding: 5vh;
        gap: 2vh;
        display: flex;
    }
    .projectOpt .opt:hover{
        transform: scale(1.1);
    }
    /* .projectOpt .opt:hover .content{
        display: flex;
    } */
    .projectOpt .opt .content p{
        font-size: 18px;
    }
    .projects .view{
        width: 100%;
        height: 10vh;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .projects .view a{
        text-decoration: none;
        background-color: blue;
        height: 80%;
        width: 50%;
        cursor: pointer;
        border-radius: 10px;
    }
    .projects .view button{
        outline: none;
        border: none;
        height: 100%;
        width: 100%;
        font-size: 15px;
        font-weight: 500;
        cursor: pointer;
        background-color: transparent;
        color: #fff;
        
    }
    .contactOpt{
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 4vh;
    }
    .contactOpt .opt{
        background-color: rgba( 10, 10, 10, 0.8);
        width: 70%;
        height: 30vh;
        border-radius: 15px;
        padding: 1.5%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 1.7vh;
    }
    .contactOpt i{
        background-color: #fff;
        font-size: 35px;
        padding: 3vh;
        border-radius: 50%;
    }
    .contactOpt .text{
        display: flex;
        flex-direction: column;
        align-items: center;
        font-size: 18px;
        gap: 2vh;
        color: #fff;
    }
    .contact form{
        width: 90%;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 3vh;
        font-size: 20px;
        /* background-color: rebeccapurple; */
    }
    .contact form .first{
        display: flex;
        flex-direction: column;
        width: 100%;
        /* justify-content: space-between; */
        align-items: center;
        /* background-color: aqua; */
    }
    .field{
        display: flex;
        flex-direction: column;
        width: 90%;
        align-items: center;
        gap: 1vh;
    }
    .field input{
        outline: none;
        border: none;
        height: 5vh;
        width: 100%;
        padding: 3vh 2vh 1.5vh 2vh;
        border-radius: 5px;
        background-color: rgba( 10, 10, 10, 0.2);
        /* color: #fff; */
    }
    .contact form .second{
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        gap: 1vh;
        /* background-color: aqua; */
    }
    .contact form .second input, .contact form .second textarea{
        width: 100%;
        padding: 3vh 2vh 1vh 2vh;
        outline: none;
        border: none;
        border-radius: 5px;
        background-color: rgba( 10, 10, 10, 0.2);
        /* color: #fff; */
    }
    .contact form button{
        outline: none;
        border: none;
        width: 50%;
        height: 8vh;
        font-size: 15px;
        border-radius: 10px;
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;
        background-color: blue;
        color: #fff;
    }
    .contact form button:hover, .projects .view button:hover, .bio button:hover{
        font-size: 18px;
    }
    footer{
        background-color: black;
        display: flex;
        flex-direction: column;
        padding: 3vh;
        align-items: center;
        font-size: 18px;
        gap: 2vh;
        color: #fff;
    }
    footer .info.one{
        width: 100%;
        padding: 1vh;
        display: flex;
        flex-direction: column;
        gap: 10px;
        /* background-color: aqua; */
        /* justify-content: space-between; */
    }
    footer .info.one .opt{
        width: 90%;
        padding: 2vh;
        /* background-color: aqua; */
    }
    footer .info.one .opt ul{
        list-style-type: none;
        margin: 2vh 0;
        display: flex;
        flex-direction: column;
        gap: 2vh;
        color: rgba( 255, 255, 255, 0.5);
    }
    footer .info.one .opt a, footer .info.one .opt p{
        text-decoration: none;
        color: rgba( 255, 255, 255, 0.5);
    }
    footer .logo{
        display: flex;
        padding: 0 5%;
        justify-content: center;
        align-items: center;
        width: 20%;
    }
    footer .logo img{
        width: 50px;
        border-radius: 50%;
    }
    .socials.last{
        width: 100%;
        margin: 3vh 0;
        /* background-color: red; */
        display: flex;
        justify-content: space-between;
        /* height: 8vh; */
    }
    .socials.last a{
        background-color: rgba( 255, 255, 255, 0.8);
        color: black;
        padding: 1.4%;
        border-radius: 10px;
    }
    .socials.last i{
        background-color: transparent;
        font-size: 30px;
        cursor: pointer;
        text-decoration: none;
    }
    footer hr{
        width: 90%;
    }
    
    
}
  